.post__footer > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }

.post__footerAction > .MuiSvgIcon-root:hover {
    color: rgb(0, 140, 255);
    margin-right: 40px;
  }
  .post__footerAction > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }

  .post__footerLeft > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
    margin-left: 30px;
  }